body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}
.bi {
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: 10px;
    top: 20px;
}

.web-name {
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: 30px;
    top: 10px;
}
.title {
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 40px;
    font-size: larger;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-bar-search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 500px;
    top: 15px;
}
.search {
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
.search:hover {
    box-shadow: 3px 3px 10px black;
}
.search:active {
    border: none;
}

.nav-bar-home {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 600px;
}
.Home_title {
    background-color: rgb(243, 4, 203);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: medium;
    font-display: swap;
    transition: 0.2s;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.Home_title:hover {
    background-color: pink;
    color: black;
    border-color: black;
}
.Home_title:active {
    background-color: red;
    color: white;
}

.nav-bar-store {
    display: inline-block;
    position: relative;
    left: 620px;
    top: 10px;
}
.Store {
    background-color: rgb(243, 4, 203);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: medium;
    font-display: swap;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Store:hover {
    background-color: pink;
    color: black;
}
.Store:active {
    background-color: red;
    color: black;
}

.nav-bar-library {
    display: inline-block;
    position: relative;
    left: 640px;
    top: 10px;
}
.Library {
    background-color: rgb(243, 4, 203);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: medium;
    font-display: swap;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Library:hover {
    background-color: pink;
    color: black;
}
.Library:active {
    background-color: red;
    color: white;
}

.nav-bar-stats {
    display: inline-block;
    position: relative;
    left: 660px;
    top: 10px;
}
.Stats {
    background-color: rgb(243, 4, 203);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: medium;
    font-display: swap;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Stats:hover {
    background-color: pink;
    color: black;
}

.Stats:active {
    background-color: red;
    color: white;
}

.nav-bar-setting {
    display: inline-block;
    position: relative;
    left: 680px;
    top: 10px;
}
.Setting {
    background-color: rgb(243, 4, 203);
    color: white;
    border: none;
    margin-right: 30px;
    border-radius: 40px;
    font-size: medium;
    font-display: swap;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Setting:hover {
    background-color: pink;
    color: black;
}
.Setting:active {
    background-color: red;
    color: white;
}

.welcome-message {
    font-size: large;
    font-weight: bold;
    color: white;
    display: block;
    position: relative;
    top: 60px;
    text-align: center;
}

.game1 {
    display: inline-block;
    width: 450px;
    position: relative;
    top: 50px;
}
.Gta5 {
    background-color: blueviolet;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    position: relative;
    top: 40px;
    right: 180px;
}
.Gta5:hover {
    background-color: orange;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    text-align: center;
}
.gta:hover {
    position: relative;
    bottom: 10px;
}
.gta {
    width: 170px;
    height: 240px;
}

.game2 {
    display: inline-block;
    width: 450px;
    position: relative;
    top: 50px;
}
.valorant {
    background-color: blueviolet;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: medium;
    position: relative;
    top: 40px;
    right: 180px;
}
.valorant:hover {
    background-color: orange;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: larger;
    font-family: 'Inter', sans-serif;
}
.val {
    width: 170px;
    height: 240px;
}
.val:hover {
    position: relative;
    bottom: 10px;
}

.game3 {
    display: inline-block;
    width: 450px;
    position: relative;
    top: 50px;
}
.lol {
    width: 170px;
    height: 240px;
}
.lol:hover {
    position: relative;
    bottom: 10px;
}
.league {
    color: white;
    background-color: blueviolet;
    text-decoration: underline;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 40px;
    border-color: black;
    box-shadow: 3px 3px 10px black;
    position: relative;
    top: 40px;
    right: 180px;
}