body {
                display: flexbox;
                background-color: lightgreen;
            }
            .title {
                background-color: yellow;
                color: black;
                border: none;
                margin-right: 20px;
                border-radius: 40px;
                font-size: larger;
                font-weight: bold;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 10px;
                padding-top: 10px;
                margin-left: 30px;
                margin-bottom: 20px;
                margin-top: 0;
            }
            .Home {
                display: flex;
                justify-content: center;
                font-size: large;
                font-weight: bold;
            }
            .Home_title {
                background-color: rgb(243, 4, 203);
                color: white;
                border: none;
                margin-right: 30px;
                border-radius: 40px;
                font-size: medium;
                font-display: swap;
                margin-top: 60px;
                transition: 0.2s;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                
            }
            .Home_title:hover {
              background-color: pink;
              color: black;
              border-color: black;
            }
            .Home_title:active {
              background-color: red;
              color: white;
            }
            .Store {
                background-color: rgb(243, 4, 203);
                color: white;
                border: none;
                margin-right: 30px;
                border-radius: 40px;
                font-size: medium;
                font-display: swap;
                margin-top: 10px;
                transition: 0.2s;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .Store:hover {
              background-color: pink;
              color: black;
            }
            .Store:active {
              background-color: red;
              color: black;
            }
            .Library {
                background-color: rgb(243, 4, 203);
                color: white;
                border: none;
                margin-right: 30px;
                border-radius: 40px;
                font-size: medium;
                font-display: swap;
                margin-top: 10px;
                transition: 0.2s;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .Library:hover {
              background-color: pink;
              color: black;
            }
            .Library:active {
              background-color: red;
              color: white;
            }
            .Stats {
                background-color: rgb(243, 4, 203);
                color: white;
                border: none;
                margin-right: 30px;
                border-radius: 40px;
                font-size: medium;
                font-display: swap;
                margin-top: 10px;
                transition: 0.2s;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .Stats:hover {
              background-color: pink;
              color: black;
            }
            .Stats:active {
              background-color: red;
              color: white;
            }
            .Setting {
                background-color: rgb(243, 4, 203);
                color: white;
                border: none;
                margin-right: 30px;
                border-radius: 40px;
                font-size: medium;
                font-display: swap;
                margin-top: 10px;
                transition: 0.2s;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .Setting:hover {
              background-color: pink;
              color: black;
            }
            .Setting:active {
              background-color: red;
              color: white;
            }
            .Gta5 {
              background-color: blueviolet;
              color: white;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 10px;
              padding-top: 10px;
              border-radius: 20px;
              box-shadow: 3px 3px 10px black;
              
              text-align: center;
              font-family: 'Inter', sans-serif;
              font-size: medium;
            }
            .Gta5:hover {
              background-color: orange;
              padding-right: 40px;
              padding-bottom: 20px;
              font-family: 'Inter', sans-serif;
              font-size: larger;
              text-align: center;
            }
            .valorant {
              background-color: blueviolet;
              color: white;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 10px;
              padding-top: 10px;
              border-radius: 20px;
              box-shadow: 3px 3px 10px black;
              
              font-family: 'Inter', sans-serif;
              text-decoration: underline;
              text-align: center;
              font-size: medium;
            }
            .valorant:hover {
              background-color: orange;
              padding-right: 40px;
              padding-bottom: 20px;
              font-size: larger;
              font-family: 'Inter', sans-serif;
            }
            .gta {
              width: 200px;
            }